@import "tailwindcss";
@import "tw-animate-css";
@plugin "@tailwindcss/typography";
@custom-variant dark (&:where(.dark, .dark *));

@theme{

--font-satoshi: 'Satoshi', "Helvetica Neue";

/* Light mode and Dark mode colors */
--color-primary-dark: #121212; /*Background*/
--color-dark-2: #1A1A1A;
--color-dark-3: #2B2B2B;
--color-dark-4: #5E5E5E;
--color-dark-border: #2B2B2B;
--color-primary-white: #ffffff; /*Background*/
--color-light-2: #F0F1F2;
--color-light-3: #D6D9DB;
--color-light-4: #C8CCD0;
--color-light-border: #D6D9DB;

 /*Light mode Colors*/
--color-light-primary-blue: #492AE5;
--color-light-secondary-blue: #9199EF;
--color-light-tertiary-blue: #E4E6FF;
--color-light-success: #47CB75;
--color-light-error: #ED2D4F;
--color-light-warning: #FDB803;

 /*Dark Mode Colors*/
--color-dark-primary-blue: #1d4ed8;
--color-dark-secondary-blue: #2D3C89;
--color-dark-tertiary-blue: #2C3356;
--color-dark-success: #50C462;
--color-dark-error: #DFAD29;
--color-dark-warning: #D8314E;
}

.tiptap{
    h1{
        @apply scroll-m-20  text-4xl font-extrabold tracking-tight text-balance
    }

    h2{
        @apply scroll-m-20 text-3xl font-bold tracking-tight first:mt-0
    }

    h3{
        @apply scroll-m-20 text-2xl font-bold tracking-tight
    }

    h4{
        @apply scroll-m-20 text-xl font-bold tracking-tight
    }

    p{
        @apply leading-7 
    }

    blockquote{
        @apply mt-6 border-l-2 pl-6 italic
    }
    ul, ol{
        @apply pl-4 
    }

    ul li{
        @apply list-disc
    }

    ol li{
        @apply list-decimal
    }

    pre{
        @apply w-full
    }
    code{
        @apply p-2 bg-light-4 rounded-md w-full
    }

    a{
        @apply text-light-primary-blue underline
    }

    mark{
        @apply p-0.5 rounded-sm
    }

}

.ProseMirror {
    border: none;
    outline: none;
  }

@layer base{

    html{
        @apply transition duration-200 bg-primary-white text-dark-3 dark:bg-primary-dark dark:text-primary-white
    }
    .card{
        @apply bg-primary-white border border-light-3 p-4 inset-shadow-2xs flex flex-col rounded-md dark:bg-dark-2 dark:border-dark-border
    }

    label{
        @apply text-primary-dark dark:text-primary-white
    }
    .auth-input{
        @apply border-light-border border bg-light-2 dark:border-dark-border dark:bg-dark-3 rounded-md p-2 text-sm font-semibold
    }

    .user-buttons{
        @apply border-light-border border dark:border-dark-border flex items-center gap-1 px-2 py-0.5 rounded-md cursor-pointer  
    }

    .editor-icon{
        @apply p-1 hover:bg-light-2 transition duration-200
    }

}

@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Light.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-LightItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Medium.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-MediumItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Regular.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Italic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

*, body{
    font-family: var(--font-satoshi);
}

@theme inline {

--radius-sm: calc(var(--radius) - 4px);

--radius-md: calc(var(--radius) - 2px);

--radius-lg: var(--radius);

--radius-xl: calc(var(--radius) + 4px);

--color-background: var(--background);

--color-foreground: var(--foreground);

--color-card: var(--card);

--color-card-foreground: var(--card-foreground);

--color-popover: var(--popover);

--color-popover-foreground: var(--popover-foreground);

--color-primary: var(--primary);

--color-primary-foreground: var(--primary-foreground);

--color-secondary: var(--secondary);

--color-secondary-foreground: var(--secondary-foreground);

--color-muted: var(--muted);

--color-muted-foreground: var(--muted-foreground);

--color-accent: var(--accent);

--color-accent-foreground: var(--accent-foreground);

--color-destructive: var(--destructive);

--color-border: var(--border);

--color-input: var(--input);

--color-ring: var(--ring);

--color-chart-1: var(--chart-1);

--color-chart-2: var(--chart-2);

--color-chart-3: var(--chart-3);

--color-chart-4: var(--chart-4);

--color-chart-5: var(--chart-5);

--color-sidebar: var(--sidebar);

--color-sidebar-foreground: var(--sidebar-foreground);

--color-sidebar-primary: var(--sidebar-primary);

--color-sidebar-primary-foreground: var(--sidebar-primary-foreground);

--color-sidebar-accent: var(--sidebar-accent);

--color-sidebar-accent-foreground: var(--sidebar-accent-foreground);

--color-sidebar-border: var(--sidebar-border);

--color-sidebar-ring: var(--sidebar-ring);
}

:root {

--radius: 0.625rem;

--background: #ffffff;

--foreground: oklch(0.145 0 0);

--card: oklch(1 0 0);

--card-foreground: oklch(0.145 0 0);

--popover: oklch(1 0 0);

--popover-foreground: oklch(0.145 0 0);

--primary: oklch(0.205 0 0);

--primary-foreground: oklch(0.985 0 0);

--secondary: oklch(0.97 0 0);

--secondary-foreground: oklch(0.205 0 0);

--muted: oklch(0.97 0 0);

--muted-foreground: oklch(0.556 0 0);

--accent: oklch(0.97 0 0);

--accent-foreground: oklch(0.205 0 0);

--destructive: oklch(0.577 0.245 27.325);

--border: oklch(0.922 0 0);

--input: oklch(0.922 0 0);

--ring: oklch(0.708 0 0);

--chart-1: oklch(0.646 0.222 41.116);

--chart-2: oklch(0.6 0.118 184.704);

--chart-3: oklch(0.398 0.07 227.392);

--chart-4: oklch(0.828 0.189 84.429);

--chart-5: oklch(0.769 0.188 70.08);

--sidebar: oklch(0.985 0 0);

--sidebar-foreground: oklch(0.145 0 0);

--sidebar-primary: oklch(0.205 0 0);

--sidebar-primary-foreground: oklch(0.985 0 0);

--sidebar-accent: oklch(0.97 0 0);

--sidebar-accent-foreground: oklch(0.205 0 0);

--sidebar-border: oklch(0.922 0 0);

--sidebar-ring: oklch(0.708 0 0);
}

.dark {

--background: #121212;

--foreground: oklch(0.985 0 0);

--card: oklch(0.205 0 0);

--card-foreground: oklch(0.985 0 0);

--popover: oklch(0.205 0 0);

--popover-foreground: oklch(0.985 0 0);

--primary: oklch(0.922 0 0);

--primary-foreground: oklch(0.205 0 0);

--secondary: oklch(0.269 0 0);

--secondary-foreground: oklch(0.985 0 0);

--muted: oklch(0.269 0 0);

--muted-foreground: oklch(0.708 0 0);

--accent: oklch(0.269 0 0);

--accent-foreground: oklch(0.985 0 0);

--destructive: oklch(0.704 0.191 22.216);

--border: oklch(1 0 0 / 10%);

--input: oklch(1 0 0 / 15%);

--ring: oklch(0.556 0 0);

--chart-1: oklch(0.488 0.243 264.376);

--chart-2: oklch(0.696 0.17 162.48);

--chart-3: oklch(0.769 0.188 70.08);

--chart-4: oklch(0.627 0.265 303.9);

--chart-5: oklch(0.645 0.246 16.439);

--sidebar: oklch(0.205 0 0);

--sidebar-foreground: oklch(0.985 0 0);

--sidebar-primary: oklch(0.488 0.243 264.376);

--sidebar-primary-foreground: oklch(0.985 0 0);

--sidebar-accent: oklch(0.269 0 0);

--sidebar-accent-foreground: oklch(0.985 0 0);

--sidebar-border: oklch(1 0 0 / 10%);

--sidebar-ring: oklch(0.556 0 0);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
}
  body {
    @apply bg-background text-foreground;
}
}
