@import "tailwindcss";
@custom-variant dark (&:where(.dark, .dark *));

@theme{

--font-satoshi: 'Satoshi', "Helvetica Neue";

/* Light mode and Dark mode colors */
--color-primary-dark: #100F11; /*Background*/
--color-dark-2: #171619;
--color-dark-3: #1B1A1D;
--color-dark-4: #2B2A2D;
--color-dark-border: #3E3D41;
--color-primary-white: #FFFFFF; /*Background*/
--color-light-2: #FAFAFA;
--color-light-3: #F0F0F0;
--color-light-4: #E4E4E4;
--color-light-border: #CDD1DA;

 /*Light mode Colors*/
--color-light-primary-blue: #492AE5;
--color-light-secondary-blue: #9199EF;
--color-light-tertiary-blue: #E4E6FF;
--color-light-success: #47CB75;
--color-light-error: #ED2D4F;
--color-light-warning: #FDB803;

 /*Dark Mode Colors*/
--color-dark-primary-blue: #1d4ed8;
--color-dark-secondary-blue: #2D3C89;
--color-dark-tertiary-blue: #2C3356;
--color-dark-success: #50C462;
--color-dark-error: #DFAD29;
--color-dark-warning: #D8314E;
}

@layer base{

    html{
        @apply transition duration-200 bg-primary-white text-dark-3 dark:bg-primary-dark dark:text-primary-white
    }

    .card{
        @apply bg-light-2 border border-light-border p-2 flex flex-col gap-2 rounded-md dark:bg-dark-2
    }

    label{
        @apply text-primary-dark dark:text-primary-white
    }
    .auth-input{
        @apply border-light-border border bg-light-2 dark:border-dark-border dark:bg-dark-2 rounded-md p-2 text-sm font-semibold
    }
}

@layer components{

}

@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Light.otf") format("opentype");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-LightItalic.otf") format("opentype");
    font-weight: 100;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Medium.otf") format("opentype");
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-MediumItalic.otf") format("opentype");
    font-weight: 300;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Regular.otf") format("opentype");
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Italic.otf") format("opentype");
    font-weight: 600;
    font-style: italic;
    font-display: swap;
}

@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Bold.otf") format("opentype");
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-BoldItalic.otf") format("opentype");
    font-weight: 700;
    font-style: italic;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-Black.otf") format("opentype");
    font-weight: 900;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: 'Satoshi';
    src: url("../assets/fonts/Satoshi-BlackItalic.otf") format("opentype");
    font-weight: 900;
    font-style: italic;
    font-display: swap;
}

*, body{
    font-family: var(--font-satoshi);
}
